<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>1337</title>
</head>
<body>
<ul>
{% for chat in chats %}
    <h1>{{ chat.title }}: {{ chat.id }}</h1>
    <ul>
    {% for chat_member in chat.chatmember_set.all %}
        <li>
            <b>Taistelija:</b> {{ chat_member.tg_user}},
            <b>Sotilasarvo:</b> {{ chat_member.rank }},
            <b>Kierrokset:</b> {{ chat_member.prestige }}
        </li>
    {% endfor %}
    </ul>
{% endfor %}
</ul>
</body>
</html>